{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/product.css' %}" />
  </head>

  <body>
    <div
      style="display: flex; justify-content: space-between; align-items: center"
      ;
    >
      <h5>Django Documentation</h5>
      <nav>
        <a href="/">Home</a>
        <a href="/first-app/">Product</a>
        <a href="/admin/">Admin</a>
        <a href="/second-app/">Second App</a>
      </nav>
    </div>
    {% block content %} {% endblock %}
  </body>
</html>
